@use '../../Sass/Styles.scss' as *;

  @font-face {
    font-family: "RobotoLight";
    src: url("../../Fonts/Roboto_Light.ttf");
  }

  @font-face {
    font-family: "RobotoRegular";
    src: url("../../Fonts/Roboto_Regular.ttf");
  }

  @font-face {
    font-family: "RobotoMedium";
    src: url("../../Fonts/Roboto_Medium.ttf");
  }

  @font-face {
    font-family: "RobotoBold";
    src: url("../../Fonts/Roboto_Bold.ttf");
  }

html, body {
    margin: 0;
    padding: 0;  
    background: $background;
}

.mainContainer{
  background: $background;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.left{
    width: 20%;
    height: 100%;
    float: left;
}

.right{
    margin-left: 150px;
    width: 1080px;
    height: 100%;
    background: $background;
    float: left;
    margin-left: 50px;

    .dashboardHeading{
        font-family: RobotoRegular;
        margin-top: 117px;
        margin-left: 430px;
        float: left;
    };

    .horLine{
        width: 1100px;
        height: 1px;
        margin-top: 10px;
        background: black;
        float: left;
    }
}

.mainSection{
    width: 100%;
    height: 775px;
    background: $background;
    float: left;

    .spacer{
        width: 100%;
        height: 40px;
        float: left;
    }

    .alertsHeading{
        font-family: RobotoRegular;
        margin-left: 470px;
        float: left;
    }
    .cardSection{
        width: 100%;
        height: 120px;
        float: left;
    }

    .graphsHeading{
        font-family: RobotoRegular;
        margin-top: 50px;
        margin-left: 460px;
        float: left;
    }

    .graphsSection{
        width: 100%;
        height: 350px;
        float: left;

        .graphBoxOne{
            width: 270px;
            height: 270px;
            float: left;
        }
           .graphBoxTwo{
            width: 470px;
            height: 1000px;
            margin-left: 20px;
            margin-top: 70px;
            float: left;
        }
           .graphBoxThree{
            width: 290px;
            height: 290px;
            margin-left: 20px;
            float: left;
        }
    }
}