@use '../../../../Sass/Styles.scss' as *;

@font-face {
  font-family: "RobotoRegular";
  src: url("../../Fonts/Roboto_Regular.ttf");
}

.recordBtn{
  width: 205px;
  height: 50px;
  border-radius: 35px !important;
  background: $accent !important;
  color: #fff !important;
  font-family: RobotoRegular !important;
  border: none; 
  cursor: pointer;
  float: left;
}

