@use '../../Sass/Styles.scss' as *;

  @font-face {
    font-family: "RobotoLight";
    src: url("../../Fonts/Roboto_Light.ttf");
  }

  @font-face {
    font-family: "RobotoRegular";
    src: url("../../Fonts/Roboto_Regular.ttf");
  }

  @font-face {
    font-family: "RobotoMedium";
    src: url("../../Fonts/Roboto_Medium.ttf");
  }

  @font-face {
    font-family: "RobotoBold";
    src: url("../../Fonts/Roboto_Bold.ttf");
  }

html, body {
    margin: 0;
    padding: 0;  
    background: $background;
}


.mainContainer{
//   height: 100vh;
//   width: 100vw;
  background: $background;
//   float: left;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.left{
    width: 20%;
    height: 100%;
    float: left;
}

.right{
    margin-left: 150px;
    width: 1080px;
    height: 100%;
    background: $background;
    float: left;

    .stockRequestHeading{
        font-family: RobotoRegular;
        margin-top: 117px;
        margin-left: 430px;
        float: left;
    };

    .horLine{
        width: 1100px;
        height: 1px;
        margin-top: 10px;
        background: black;
        float: left;
    }
}

.mainSection{
    width: 100%;
    height: 775px;
    background: $background;
    float: left;

    .spacer{
        width: 100%;
        height: 170px;
        // background: grey;
        float: left;
    }
    .formContainer{
        width: 100%;
        height: 490px;
        // background: blue;
        float: left;

        .topContainer{
            width: 100%;
            height: 110px;
            // background: grey;
            float: left;

            .firstFormContainer{
                width: 360px;
                height: 110px;
                // background: red;
                float: left;

                .itemHeading{
                    margin-left: 120px;
                    font-family: RobotoRegular;
                }
                
                .itemRequestForm{
                    width: 250px;
                    height: 50px;
                    margin-left: 55px;
                    border-radius: 35px;
                    float: left;
                }
            }
            .secondFormContainer{
                width: 360px;
                height: 110px;
                // background: blue;
                float: left;

                .WarehouseToForm{
                    width: 250px;
                    height: 50px;
                    margin-left: 55px;
                    border-radius: 35px;
                    float: left;
                }

                .warehouseToHeading{
                    margin-left: 115px;
                    font-family: RobotoRegular;
                }
            }
            .thirdFormContainer{
                width: 360px;
                height: 110px;
                // background: green;
                float: left;

                .WarehouseFromForm{
                    width: 250px;
                    height: 50px;
                    margin-left: 55px;
                    border-radius: 35px;
                    background: $tertiary;
                    float: left;
                }
                
                .warehouseFromHeading{
                    margin-left: 105px;
                    font-family: RobotoRegular;
                }
            }
        }

        .middleContainer{
            width: 100%;
            height: 110px;
            margin-top: 90px;
            // background: green;
            float: left;

            .fourthFormContainer{
                width: 360px;
                height: 110px;
                // background: $primary;
                float: left;

                .amountForm{
                    width: 250px;
                    height: 50px;
                    margin-left: 55px;
                    border-radius: 35px;
                    float: left;
                }
                .amountHeading{
                    font-size: 18px;
                    margin-left: 65px;
                    font-family: RobotoRegular;
                }
            }
        }

        .bottomContainer{
            width: 100%;
            height: 50px;
            margin-top: 120px;
            // background: green;
            float: left;

            .fifthFormContainer{
                width: 288px;
                height: 100%;
                margin-left: 400px;
                border-radius: 35px;
                float: left
            }

            .submitBtn{
                width: 100%;
                height: 53px;
                border-radius: 35px;
                background-color: $accent;
                color: #fff;
                font-size: 15px;
                font-family: RobotoRegular;
                cursor: pointer;
            }
        }
    }
}