@use '../../Sass/Styles.scss' as *;

  @font-face {
    font-family: "RobotoLight";
    src: url("../../Fonts/Roboto_Light.ttf");
  }

  @font-face {
    font-family: "RobotoRegular";
    src: url("../../Fonts/Roboto_Regular.ttf");
  }

  @font-face {
    font-family: "RobotoMedium";
    src: url("../../Fonts/Roboto_Medium.ttf");
  }

  @font-face {
    font-family: "RobotoBold";
    src: url("../../Fonts/Roboto_Bold.ttf");
  }


.container {
  display: flex;
  min-height: 100vh;
  background: #FEF3E6;
  width: 100vw; 
  overflow-x: hidden; 
}

.main {
  margin-top: 9%;
  flex: 1;
  padding: 2rem;
  
}

.tabs {
  background: #FDAF67;
  border-radius: 20px 20px 0 0;
  margin-left: 2.8%;
  width: 580px;

  :global {
    .MuiTabs-flexContainer {
      justify-content: flex-start;
    }

    .MuiTab-root {
      text-transform: none;
      font-size: 1rem;
      padding: 0.5rem 2rem;
      font-weight: 500;
      border-radius: 20px 20px 0 0;

      &.Mui-selected {
        background-image: url('../../assets/Large\ Element.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px 20px 0 0;
        color: black;

      }
    }

    .MuiTabs-indicator {
      display: none;
    }
  }
}

.content {
  background: #fff;
  border-radius: 35px;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-image: url('../../assets/Large Element.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.list {
  margin-bottom: 2rem;
  width: 57%;

  .item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;

    .name {
      flex: 2;
      font-size: 1.1rem;
      font-weight: 500;
    }

    .contact,
    .phone {
      flex: 1;
      text-align: center;
    }
  }
}

.form {
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;


  .field {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 18rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    :global(.MuiFilledInput-root) {
      border-radius: 50px;
      background: #FFF5EB;
    }
  }
}

.addBtn {
  margin-bottom: 2rem !important;
  width: 196px !important;
  height: 53px !important;
  border-radius: 35px !important;
  background-color: #E03E47 !important;
  color: #fff !important;
  font-size: 15px !important;
  font-family: Roboto, sans-serif !important;
  border: none !important;
  cursor: pointer !important;
  display: block !important;
  align-self: flex-start !important;
}

.fieldsWrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.buttonWrapper {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    text-align: left;
    padding: 1rem;
  }

  th {
    font-weight: 500;
  }

  td {
    vertical-align: top;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #000;
  }
}


hr {
  border: none;
  width: 100%;
}

.removeBtn {
  margin-left: 1rem;
  border-radius: 35px !important;
  background-color: #E03E47 !important;
  width: 100px !important;
  height: 30px !important;
  font-size: 15px !important;
  border: none !important;
  font-family: Roboto, sans-serif !important;
  color: #fff !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
  &:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);

  }
}

